body{
   
}
.xyz-header{
    border: 1px black solid;
   display: inline-flex;
   width: 100%;
   justify-content: space-between;
}
.title{
    display: inline-flex;
flex-direction: row;
justify-content: flex-start;
}
.nav{
   min-width: 200px;
    border: 1px black solid;
display: inline-flex;
justify-content: space-between;



}

.figure{
    
}
.side-paragraphs{
    
}
.ourteam{
    
}
.ourmission{
    
}